table(style="width:100%; max-width: 800px; margin: 0 auto; box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);")
    thead(style="background-color: #779DCD; height: 100px;")
        tr(style="text-indent: 20px;")
            td
                img(style="width: 130px" src=`${linkLogo}` alt="Logo")
    tbody(style="background-color: #ffffff; height: 100px; padding: 30px;")
        tr
            td
                div(style="padding: 30px;")
                    p Olá, você solicitou uma troca de senha
                    br
                    p Para prosseguir clique no botão abaixo.
                    a(href=`${redirectLink}` target="_blank" style="background-color:#428bca;box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);cursor:pointer;text-decoration:none;color:white;border-radius:4px;font-size:14px;padding:6px 12px;") Trocar senha.
    tfoot(style="background-color: #779DCD; height: 100px; margin-top: 20px;")
        tr(style="text-indent: 20px;")
            td
                img(style="width: 130px" src=`${linkLogo}` alt="Logo")



